.buyer-update {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
 top:20%;
 left:40%;
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
  }
  
  h3 {
    margin: 5px 0;
  }
  
  .buyer-update label {
        position: absolute;
        left: 40%;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 8px;
    width: 200px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  